*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    background-color: black;
}

nav ul{
    padding: 2%;
    padding-left: 1%;
}

nav ul li{
    list-style: none;
    font-size: 1.5rem;
    color: white;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
}

.box span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: blueviolet;
}

.gameInfo{
    padding: 0 34px;
}

.bl{
    border-left: none;
}

.br{
    border-right: none;
}

.bb{
    border-bottom: none;
}

.bt{
    border-top: none;
}

.imgbox img{
    width: 0;
    transition: width 2s ease;
}

#reset{
    margin-top: 10px;
    padding:  4px 8px;
    font-size: 14px;
    background-color: blueviolet;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 800px) {

    nav{
        text-align: center;
    }

    .gameContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
        text-align: center;
    }
}
